.add-sub-cat1-container {
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    border-color: var(--dl-color-gray-700);
    border-width: 1px;
    flex-direction: column;
    display: flex;
    background-color: white;
    background: #00000050;
    height: auto;
    top: 0;
    left: 0;
    overflow: auto;
    padding-top: 10%;

  }
  .add-sub-cat1-container1 {
    width: 710px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    position: relative;
    height: auto;
    border-radius: 4px;

    
  }
  .add-sub-cat1-text {
    font-size: 20px;
    align-self: flex-start;
    margin-top: var(--dl-space-space-twounits);
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .add-sub-cat1-form {
    width: 643px;
    align-self: flex-start;
    margin-left: var(--dl-space-space-twounits);
  }
  .add-sub-cat1-container2 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-sub-cat1-container3 {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .add-sub-cat1-input {

    width: 100%;
    align-self: flex-start;
    margin-top: var(--dl-space-space-halfunit);
    border-color: var(--dl-color-gray-700);
    
  }
  .add-sub-cat1-container4 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .add-sub-cat1-container5 {
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .add-sub-cat1-container6 {
    flex: auto;
    width: auto;
    height: 100px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .add-sub-cat1-button {
    color: var(--dl-color-gray-700);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    align-self: flex-end;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    padding-top: 13px;
    border-color: var(--dl-color-gray-900);
    border-width: 0px;
    margin-right: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-white);
  }
  .add-sub-cat1-container7 {
    flex: auto;
    width: auto;
    height: 100px;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .add-sub-cat1-button1 {
    color: var(--dl-color-gray-white);
    width: var(--dl-size-size-large);
    height: var(--dl-size-size-small);
    position: relative;
    box-shadow: rgb(212, 212, 212) 5px 5px 10px 0px;
    margin-top: var(--dl-space-space-twounits);
    text-align: center;
    margin-left: var(--dl-space-space-halfunit);
    padding-top: 13px;
    border-color: var(--dl-color-primary-100);
    border-width: 0px;
    padding-left: 3px;
    background-color: #008CBA;
  }
  .add-sub-cat1-text4 {
    top: 13px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    padding-left: 0px;
  }