 .categories-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 .categories-product-header {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
 .categories-label {
  top: 20px;
  left: 0px;
  color: rgb(75, 73, 73);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: inherit;
  font-weight: 400;
  padding-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
 .categories-container1 {
  width: 100%;
  height: 62px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: var(--dl-space-space-twounits);
  justify-content: flex-start;
}
 .categories-add-product-button {
  color: rgb(255, 255, 255);
  right: 0px;
  bottom: bottom;
  position: absolute;
  align-self: center;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 0px;
  background-color: #008CBA;
  border-color:#008CBA;

}
 .categories-product-tabel-container {
  flex: auto;
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  padding-left: var(--dl-space-space-unit);
  align-items:flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.delete-button{
  color: white;
  background: #f44336;
  padding: 3px 3px 3px 3px;
  border-radius: 2px 2px 2px 2px;
  border-color: #f44336;

}
