  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    border: 1px solid #C7C7C7;
    text-align: left;
    padding: 12px;
    font-size: 12px;
  }
  
  th {
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
  
  }
  
  td {
    background-color: rgb(255, 255, 255);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
}