.cart-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-inabelpalette-goat);
}
.cart-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.cart-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: 3rem;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cart-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  justify-content: flex-start;
}
.cart-icon {
  width: 24px;
  height: 24px;
}
.cart-container04 {
  flex: 0 0 auto;
  width: 1268px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 1rem;
  margin-bottom: .5rem;
  padding-right: 1rem;
  justify-content: space-between;
  background-color: var(--dl-color-inabelpalette-white);
}
.cart-container05 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cart-checkbox {
  align-self: center;
  margin-right: 1rem;
}
.cart-container06 {
  flex: 0 0 auto;
  width: 240px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  justify-content: center;
}
.cart-text02 {
  font-style: normal;
  text-align: left;
  font-weight: 400;
}
.cart-container07 {
  flex: 0 0 auto;
  width: auto;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.cart-icon02 {
  fill: var(--dl-color-inabelpalette-darkg1);
  width: 24px;
  cursor: pointer;
  height: 24px;
  padding: 0px;
  border-width: 0px;
}
.cart-text03 {
  color: var(--dl-color-inabelpalette-darkg1);
}
.cart-container08 {
  flex: 0 0 auto;
  width: 1268px;
  height: 100px;
  display: flex;
  padding: 1rem;
  position: relative;
  align-items: center;
  margin-bottom: .5rem;
  justify-content: space-between;
  background-color: var(--dl-color-inabelpalette-white);
}
.cart-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.cart-checkbox1 {
  align-self: center;
  margin-right: 1rem;
}
.cart-image {
  width: 100px;
  height: 100%;
  padding: .5rem;
  object-fit: cover;
  margin-right: 1rem;
}
.cart-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.cart-text04 {
  font-size: 1rem;
  font-style: normal;
  text-align: left;
  font-weight: 600;
}
.cart-text05 {
  color: var(--dl-color-inabelpalette-br3);
  width: auto;
  font-style: normal;
  text-align: center;
  font-weight: 700;
}
.cart-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.cart-icon04 {
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.cart-text08 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.cart-icon06 {
  width: 24px;
  cursor: pointer;
  height: 24px;
}
.cart-icon08 {
  fill: var(--dl-color-inabelpalette-darkg1);
  width: 24px;
  height: 24px;
  padding: 0px;
  border-width: 0px;
}
.cart-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: 3rem;
  align-items: flex-start;
  justify-content: center;
}
.cart-navlink {
  color: var(--dl-color-inabelpalette-main);
  margin-bottom: 3rem;
  text-decoration: underline;
}
.cart-container13 {
  flex: 0 0 auto;
  width: 396px;
  height: 100%;
  display: flex;
  align-items: stretch;
  padding-top: 3rem;
  flex-direction: column;
  padding-bottom: 3rem;
  justify-content: flex-start;
}
.cart-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: 2rem;
  align-items: stretch;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  padding-bottom: 1rem;
  background-color: var(--dl-color-inabelpalette-white);
}
.cart-text09 {
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.cart-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: space-between;
}
.cart-text10 {
  font-size: 1rem;
}
.cart-text11 {
  font-size: 1rem;
}
.cart-container16 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding-top: 1rem;
  border-color: var(--dl-color-inabelpalette-gray);
  border-width: 1px;
  margin-bottom: 1rem;
  justify-content: space-between;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.cart-text12 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.cart-text13 {
  color: var(--dl-color-inabelpalette-br3);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
}
.cart-navlink1 {
  color: var(--dl-color-inabelpalette-white);
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-inabelpalette-main);
}
.cart-navlink1:disabled {
  color: var(--dl-color-inabelpalette-lightg);
  background-color: var(--dl-color-gray-900);
}
@media(max-width: 1600px) {
  .cart-container {
    background-color: var(--dl-color-inabelpalette-goat);
  }
  .cart-container02 {
    width: 751px;
  }
  .cart-container03 {
    justify-content: flex-start;
  }
  .cart-container04 {
    width: 100%;
    background-color: var(--dl-color-inabelpalette-white);
  }
  .cart-text02 {
    font-size: 14px;
  }
  .cart-icon02 {
    fill: var(--dl-color-inabelpalette-darkg1);
  }
  .cart-text03 {
    color: var(--dl-color-inabelpalette-darkg1);
    font-size: 14px;
  }
  .cart-container08 {
    width: 100%;
    background-color: var(--dl-color-inabelpalette-white);
  }
  .cart-text05 {
    color: var(--dl-color-inabelpalette-br3);
    font-size: 14px;
    font-weight: 700;
  }
  .cart-container11 {
    padding: 5px;
  }
  .cart-icon04 {
    width: 20px;
    height: 20px;
  }
  .cart-text08 {
    font-size: 14px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .cart-icon06 {
    width: 20px;
    height: 20px;
  }
  .cart-navlink {
    font-style: normal;
    font-weight: 500;
  }
  .cart-container14 {
    background-color: var(--dl-color-inabelpalette-white);
  }
  .cart-text09 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
  }
  .cart-text10 {
    font-size: 1rem;
  }
  .cart-text11 {
    font-size: 1rem;
  }
  .cart-container16 {
    padding-top: .5rem;
    border-color: var(--dl-color-inabelpalette-gray);
    border-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .cart-text13 {
    color: var(--dl-color-inabelpalette-br3);
    font-size: 1.5rem;
    font-weight: 600;
  }
  .cart-navlink1 {
    color: var(--dl-color-inabelpalette-white);
    font-size: 1rem;
    font-style: normal;
    margin-top: .5rem;
    font-weight: 600;
    padding-top: var(--dl-space-space-unit);
    margin-bottom: .5rem;
    padding-bottom: var(--dl-space-space-unit);
    text-decoration: none;
    background-color: var(--dl-color-inabelpalette-main);
  }
}
@media(max-width: 1000px) {
  .cart-container01 {
    align-items: center;
    flex-direction: column;
  }
}
