.change-address-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.change-address-change-address {
  width: auto;
  height: auto;
  padding: 1rem;
  border-color: var(--dl-color-inabelpalette-darkg2);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-inabelpalette-goat);
}
.change-address-delivery-address {
  font-style: normal;
  font-weight: 500;
}
.change-address-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-end;
}
.change-address-container02 {
  flex: auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.change-address-region {
  height: 35px;
  margin-top: var(--dl-space-space-halfunit);
  border-color: 700 (Gray);
  border-width: 1px;
  margin-right: var(--dl-space-space-halfunit);
}
.change-address-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.change-address-container04 {
  flex: auto;
  width: auto;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.change-address-province-label {
  align-self: stretch;
}
.change-address-province {
  width: 100%;
  height: 35px;
  margin-top: var(--dl-space-space-halfunit);
  border-color: 700 (Gray);
  border-width: 1px;
}
.change-address-container05 {
  flex: auto;
  width: auto;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.change-address-city {
  height: 35px;
  margin-top: var(--dl-space-space-halfunit);
  border-color: 700 (Gray);
  border-width: 1px;
}
.change-address-container06 {
  width: var(--dl-size-size-medium);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.change-address-postal-label {
  width: var(--dl-size-size-medium);
  align-self: stretch;
}
.change-address-postal-input {
  width: var(--dl-size-size-medium);
  margin-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-700);
  padding-left: var(--dl-space-space-halfunit);
}
.change-address-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.change-address-container08 {
  flex: auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.change-address-barangay-label {
  align-self: stretch;
}
.change-address-barangay {
  width: 100%;
  height: 35px;
  margin-top: var(--dl-space-space-halfunit);
  border-color: 700 (Gray);
  border-width: 1px;
}
.change-address-container09 {
  flex: auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  align-items: stretch;
  margin-right: var(--dl-space-space-halfunit);
  flex-direction: column;
}
.change-address-street {
  margin-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-700);
}
.change-address-container10 {
  flex: auto;
  width: 50%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.change-address-house-no-label {
  width: var(--dl-size-size-medium);
  align-self: stretch;
}
.change-address-house-no {
  flex: auto;
  width: 100%;
  margin-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-gray-700);
  padding-left: var(--dl-space-space-halfunit);
}
.change-address-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  justify-content: center;
}
.change-address-button {
  color: var(--dl-color-inabelpalette-gray);
  cursor: pointer;
  border-color: var(--dl-color-inabelpalette-lightg);
  margin-right: .5rem;
}
.change-address-button1 {
  color: var(--dl-color-inabelpalette-white);
  cursor: pointer;
  margin-left: .5rem;
  border-color: var(--dl-color-inabelpalette-lightg);
  border-width: 1px;
  background-color: var(--dl-color-primary-r3);
}
