.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-inabelpalette-goat);
}
.shop-container01 {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3rem;
  align-items: flex-end;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.shop-container02 {
  flex: 0 0 auto;
  width: 264px;
  height: 100%;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  margin-right: 2rem;
  flex-direction: column;
}
.shop-container03 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
}
.shop-textinput {
  width: 228px;
  height: auto;
  align-self: center;
  border-width: 0px;
  background-color: var(--dl-color-inabelpalette-white);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.shop-container04 {
  flex: 0 0 auto;
  width: 35px;
  height: 34px;
  display: flex;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  justify-content: center;
  background-color: var(--dl-color-primary-r3);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.shop-icon {
  fill: var(--dl-color-inabelpalette-white);
  width: 30px;
  cursor: pointer;
  height: 30px;
  align-self: center;
  border-color: var(--dl-color-primary-r3);
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.shop-container05 {
  flex: 0 0 auto;
  width: 264px;
  height: 100%;
  display: flex;
  margin-top: .5rem;
  align-items: flex-start;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  padding-bottom: 1rem;
  justify-content: flex-start;
  background-color: var(--dl-color-inabelpalette-white);
}
.shop-text {
  font-style: normal;
  font-weight: 600;
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.shop-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-text01 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.shop-dropdown-arrow {
  transition: 0.3s;
}
.shop-icon02 {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.shop-dropdown-list {
  top: 0;
  left: 100%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.shop-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.shop-text02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.shop-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.shop-text03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.shop-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.shop-text04 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.shop-thq-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-text05 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.shop-thq-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.shop-dropdown-toggle5 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.shop-text06 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.shop-text07 {
  font-style: normal;
  margin-top: 2rem;
  font-weight: 600;
  margin-bottom: .5rem;
}
.shop-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.shop-button {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button1 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button1:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button2 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button2:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button3 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button3:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button4 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button4:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button5 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button5:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-button6 {
  width: auto;
  cursor: pointer;
  transition: 0.3s;
  border-width: 0px;
  background-color: transparent;
}
.shop-button6:hover {
  color: var(--dl-color-inabelpalette-main);
}
.shop-text08 {
  font-style: normal;
  margin-top: 2rem;
  font-weight: 600;
  margin-bottom: .5rem;
}
.shop-container07 {
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-icon04 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon06 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon08 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon10 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon12 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-container08 {
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-icon14 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon16 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon18 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon20 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon22 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-text09 {
  font-size: 0.7em;
  text-align: center;
  margin-left: .8rem;
}
.shop-container09 {
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-icon24 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon26 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon28 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon30 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon32 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-text10 {
  font-size: 0.7em;
  margin-left: .8rem;
}
.shop-container10 {
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-icon34 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon36 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon38 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon40 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon42 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-text11 {
  font-size: 0.7em;
  margin-left: .8rem;
}
.shop-container11 {
  width: auto;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 0px;
  border-width: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0px;
  justify-content: flex-start;
  background-color: transparent;
}
.shop-icon44 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon46 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon48 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon50 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-icon52 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-text12 {
  font-size: 0.7em;
  margin-left: .8rem;
}
.shop-container12 {
  flex: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
  align-items: flex-start;
}
.shop-container13 {
  flex: auto;
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shop-text14 {
  color: var(--dl-color-inabelpalette-br3);
  font-style: normal;
  font-weight: 700;
}
.shop-text15 {
  color: var(--dl-color-inabelpalette-main);
  font-style: normal;
  font-weight: 700;
}
.shop-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
}
.shop-select {
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}
.shop-container15 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
}
.shop-navlink {
  display: contents;
}
.shop-container16 {
  /* We first create a flex layout context */
  display: flex;
  margin-right: 0px;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: left;
  
  padding: 0;
  margin: 0;
  list-style: none;
}
.shop-image {
  width: var(--dl-size-size-xlarge);
  object-fit: cover;
}
.shop-text18 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.shop-text19 {
  font-size: 1.5rem;
  font-style: normal;
  margin-top: 1rem;
  font-weight: 600;
}
.shop-container17 {
  width: 100%;
  height: auto;
  display: flex;
  margin-top: .5rem;
  align-items: center;
  justify-content: flex-start;
}
.shop-icon54 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon56 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon58 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon60 {
  fill: var(--dl-color-primary-r3);
  width: 20px;
  height: 20px;
}
.shop-icon62 {
  fill: var(--dl-color-gray-900);
  width: 20px;
  height: 20px;
}
.shop-text20 {
  font-size: 0.7em;
  margin-left: .8rem;
}
.shop-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  padding-left: 3rem;
  padding-right: 3rem;
  justify-content: flex-end;
}
.shop-icon64 {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
}
.shop-text21 {
  width: auto;
  height: auto;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: var(--dl-color-inabelpalette-br6);
}
.shop-text22 {
  width: auto;
  height: auto;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.shop-text22:hover {
  background-color: var(--dl-color-inabelpalette-br6);
}
.shop-text23 {
  width: auto;
  height: auto;
  align-self: center;
  transition: 0.3s;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.shop-text23:hover {
  background-color: var(--dl-color-inabelpalette-br6);
}
.shop-icon66 {
  width: 24px;
  cursor: pointer;
  height: 24px;
  align-self: center;
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
}

