.action-cancel-button-container {
  display: flex;
  position: relative;
}
.action-cancel-button-button {
  color: var(--dl-color-gray-700);
  width: var(--dl-size-size-large);
  height: var(--dl-size-size-small);
  text-align: center;
  padding-top: 13px;
  border-color: var(--dl-color-gray-900);
  background-color: var(--dl-color-gray-white);
}
.action-cancel-button-root-class-name {
  flex: auto;
  width: var(--dl-size-size-large);
  align-self: flex-end;
  margin-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
.action-cancel-button-root-class-name1 {
  flex: auto;
  width: var(--dl-size-size-large);
  align-self: flex-end;
  margin-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
.action-cancel-button-root-class-name2 {
  flex: auto;
  width: var(--dl-size-size-large);
  align-self: flex-end;
  margin-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-halfunit);
}
